/* changes made to this file do not actually do anything even though this file is imported into the index.html */
/*
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}*/

textarea {
  margin: 20px;
}
